body {
	padding: 5px;
	margin: 0;
	padding-bottom: 15px;
}

#layout1 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.l-page-top {
	height: 70px;
	font-size:25px;
	color:#CCCCCC;
	background:#005B90;
	margin-bottom: 3px;
}

.l-page-bottom {
	text-align: center;
	line-height: 32px;
	height: 32px;
}
.menu{
	text-align:right;
	font-style: italic;
	font-size:20;
	font-weight:700;
	border: 1px solid #ccc;
}
.menu .stationselect{
	width:100px;
}
.menu .statementselect{
	width:250px;
}
.menu .timetext{
	width:100px;
}
.grid{
	border: 1px solid #ccc;
	height: 100%;
}