td{ 
	 border:1px solid #797979;
	height: 30px;
	text-align: center;
	font-size:13px;
	
	}
#table_3{
	width:100%;
	border-collapse:collapse;
	}
/*表头样式*/
#th_bg{
	background: #006699;
	color: #CCCCCC;
	font-family:"黑体";
	font-weight:700;
	font-size:13px;
	
}
/* 合计行颜色 */
.sun_bg{
	background: #FFFFCC;
}
/*div样式*/
.div_style{
	width: 1000px;
	
}