@CHARSET "UTF-8";

table,th, td
  {
  border-collapse:collapse;

  border: 1px solid black;
  
  }
 
body{
	padding:10px;
	
}
th
  {
  text-align:center;
  background-color: #0c73de;
  height:40px;
  color:white;
  
  }

